Script til at oprettelse af database myDB:

In [ ]:
USE master
GO
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'myDB'
)
CREATE DATABASE myDB
GO

Script til oprettelse af tabel Author:

In [ ]:
USE myDB
IF OBJECT_ID('[dbo].[Author]', 'U') IS NOT NULL
DROP TABLE [dbo].[Author]
GO
CREATE TABLE [dbo].[Author]
(
    [Id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [FirstName] NVARCHAR(50) NOT NULL,
    [LastName] NVARCHAR(50) NOT NULL,
    [Email] NVARCHAR(50) NOT NULL UNIQUE
);
GO

Script til oprettelse af tabel Category:

In [ ]:
Use myDB
IF OBJECT_ID('[dbo].[Category]', 'U') IS NOT NULL
DROP TABLE [dbo].[Category]
GO
CREATE TABLE [dbo].[Category]
(
    [Id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [CategoryName] NVARCHAR(50)
);
GO

Script til oprettelse af tabel Book:

In [ ]:
USE myDB
IF OBJECT_ID('[dbo].[Book]', 'U') IS NOT NULL
DROP TABLE [dbo].[Book]
GO
CREATE TABLE [dbo].[Book]
(
    [Id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Title] NVARCHAR(50) NOT NULL,
    [Summary] NVARCHAR(200),
    [Price] FLOAT,
    [ISBN] BIGINT NOT NULL UNIQUE
);
GO

Script til oprettelse af join tabellen Author\_Book:

In [ ]:
Use myDB
IF OBJECT_ID('[dbo].[Author_Book]', 'U') IS NOT NULL
DROP TABLE [dbo].[Author_Book]
GO
CREATE TABLE [dbo].[Author_Book]
(
    [Author] INT FOREIGN KEY REFERENCES Author(Id) NOT NULL,
    [Book] INT FOREIGN KEY REFERENCES Book(Id) NOT NULL,
    PRIMARY KEY (Author,Book)
);
GO

Script til oprettelse af join tabellen Book\_Category:

In [ ]:
Use myDB
IF OBJECT_ID('[dbo].[Book_Category]', 'U') IS NOT NULL
DROP TABLE [dbo].[Book_Category]
GO
CREATE TABLE [dbo].[Book_Category]
(
    [Book] INT FOREIGN KEY REFERENCES Book(Id) NOT NULL,
    [Category] INT FOREIGN KEY REFERENCES Category(Id) NOT NULL,
    PRIMARY KEY (Book,Category)
);
GO

Script til indsættelse af fiktiv data, tabellen Author:

In [ ]:
INSERT INTO [dbo].[Author]
(
 [FirstName], [LastName], [Email]
)
VALUES
('Hans Christjan','Andersen','hca@fanzy.dk'),
('Astrid','Lundgren','al@fanzy.dk'),
('Cecilie','Bødker','cb@fanzy.dk'),
('Caren','Blixen','id@fanzy.dk'),
('Dennis','Jørgensen','dj@fanzy.dk'),
('Tove','Ditlewsen','td@fanzy.dk'),
('Søren','Kirkegaard','sk@fanzy.dk'),
('Johan V.','Jensen','jvj@fanzy.dk'),
('Claus','Rifbjerg','cr@fanzy.dk'),
('Bjørn','Reuter','br@fanzy.dk')
GO

Script til indsættelse af fiktiv data, tabellen Category:

In [ ]:
INSERT INTO [dbo].[Category]
(
 [CategoryName]
)
VALUES
('Mad'),
('Mode'),
('Sci-Fi'),
('Børnebog')
GO

Script til indsættelse af fiktiv data, tabellen Book:

In [ ]:
INSERT INTO [dbo].[Book]
(
 [Title], [Summary], [Price], [ISBN]
)
VALUES
(
 'Lækre desserter','',199,9785128726353
),
(
 'Den blå traktor','',149,9788832539011
),
(
 'Uldstrik','',399,9785032410386
),
(
 'Robotter og tærter','',449,9780576360753
),
(
 'Den lille marsmand','',139,9785396962163
),
(
 'Karper og kapper','',529,9788649846258
),
(
 'Fantastiske håndklæder','',679,9786505878191
),
(
 'Er alle hunde grønne?','',229,9780465242023
),
(
 'Kontrabassisten','',349,9780817584542
),
(
 'En jakke, to jakker...','',389,9788215154725
),
(
 'Sommerhusstil','',299,9782237320427
),
(
 'Retter med skvadderkål','',179,9788651674870
),
(
 'Den musikalske kat','',349,9780800214333
),
(
 'Forårsløg','',129,9782549402262
),
(
 'Farver og striber','',469,9787695633812
)
GO

Script til indsættelse af fiktiv data, tabellen Author\_Book:

In [ ]:
INSERT INTO [dbo].[Author_Book]
(
 [Author],[Book]
)
VALUES
(8,1),
(3,2),
(7,3),
(4,3),
(6,4),
(5,5),
(9,6),
(1,7),
(10,8),
(4,8),
(6,9),
(2,9),
(3,10),
(1,11),
(5,11),
(10,12),
(9,13),
(8,14),
(5,15),
(3,15)
GO

Script til indsættelse af fiktiv data, tabellen Book\_Category:

In [ ]:
INSERT INTO [dbo].[Book_Category]
(
 [Category],[Book]
)
VALUES
(1,1),
(4,2),
(2,3),
(1,4),
(3,4),
(3,5),
(4,5),
(1,6),
(2,6),
(2,7),
(1,8),
(4,8),
(4,9),
(2,10),
(4,10),
(2,11),
(1,12),
(4,13),
(1,14),
(2,15)
GO

Script til visning af forfatter(e) til en bog med en given titel:

In [ ]:
SELECT Author.FirstName,Author.LastName
FROM Author_Book as ab
INNER JOIN Author ON Author.Id = ab.Author
INNER JOIN Book ON Book.Id = ab.Book
WHERE Book.Title = 'Uldstrik'

Script til visning af bøger skrevet af en given forfatter:

In [ ]:
SELECT Book.Title
FROM Author_Book as ab
INNER JOIN Author ON Author.Id = ab.Author
INNER JOIN Book ON Book.Id = ab.Book
WHERE Author.FirstName = 'Bjørn'

Script til visning af kategorien for en given bog:

In [ ]:
SELECT Category.CategoryName
FROM Book_Category as bc
INNER JOIN Category ON Category.Id = bc.Category
INNER JOIN Book ON Book.Id = bc.Book
WHERE Book.Title = 'Uldstrik'

Script til visning af bøgerne i en given kategori:

In [ ]:
SELECT Book.Title
FROM Book_Category as bc
INNER JOIN Category ON Category.Id = bc.Category
INNER JOIN Book ON Book.Id = bc.Book
WHERE Category.CategoryName = 'Mad'

Script til visning af forfatterne for en given kategori:

In [ ]:
SELECT Author.FirstName,Author.LastName
FROM Book_Category as bc
INNER JOIN Category ON Category.Id = bc.Category
INNER JOIN Book ON Book.Id = bc.Book
INNER JOIN Author_Book as ab ON Book.Id = ab.Book
INNER JOIN Author ON Author.Id = ab.Author
WHERE Category.CategoryName = 'Mad'

Script til visning af kategorierne for en given forfatter:

In [ ]:
SELECT DISTINCT Category.CategoryName
FROM Book_Category as bc
INNER JOIN Category ON Category.Id = bc.Category
INNER JOIN Book ON Book.Id = bc.Book
INNER JOIN Author_Book as ab ON Book.Id = ab.Book
INNER JOIN Author ON Author.Id = ab.Author
WHERE Author.FirstName = 'Cecilie'

Database diagram:


![](.\uge3.png)

Overvejelser: Da der er en mange-til-mange relation mellem forfattere og bøger (en forfatter kan have skrevet op til flere bøger, og en bog kan være skrevet af op til flere forfattere), er tabellerne Author og Book forbundet med de en "join"-tabel Author\_Book, som indeholder en række for hver forfatter-bog kombination.

På samme måde er der en mange-til-mange relation mellem bøger og kategorier (en bog kan være tilknyttet op til flere kategorier, og en kategori kan have tilknyttet op til flere bøger), så tabellen Book\_Category forbinder tabellerne Book og Category.

Tabellerne fyldes med fiktiv data. Der er givet eksempler på scripts til udtræk af data fra tabellerne, f.eks. visning af forfatteren/forfatterne til en bog med en given titel. Måske kan disse scripts skrives mere effektivt?